<div class="hero-image">
  <div class="navText">
    <h1>Recipe App</h1>
  </div>
  <div class="navbarText">
    <a class="navbar-brand" routerLink="login" *ngIf="!loggedIn">Login</a>
    <a class="navbar-brand" routerLink="recipes" *ngIf="loggedIn"
      >Search Recipes</a
    >
    <a class="navbar-brand" routerLink="saved" *ngIf="loggedIn">Saved Recipe</a>
    <a
      class="navbar-brand-logout"
      href="#"
      (click)="logout($event)"
      *ngIf="loggedIn"
      >Logout</a
    >
  </div>
</div>
