<div>
  <button (click)="navigateHome()">Go home</button>
  <button (click)="navigateList()">Go to fav recipe</button>
  <h2>Recipe Details</h2>
  <div *ngIf="recipe">
    <h3 class="cardtitle">{{ recipe[0].label }}</h3>
    <img src="{{ recipe[0].image }}" />
    <div>
      <h3>Ingredients:</h3>
      <p>
        {{ recipe[0].ingredientLines }}
      </p>
      <h4>Diet:</h4>
      <p>
        {{ recipe[0].dietLabels }}
      </p>
      <h5>Calories:</h5>
      <p>
        {{ recipe[0].calories }}
      </p>
    </div>
  </div>
  <!-- change name!! -->
  <button (click)="newMessage(recipe[0])">Save recipe</button>
</div>
