<div class="recipeInfo">
  <input type="text" class="form" name="inputValue" [(ngModel)]="inputValue" />

  <button class="fetchbtn" (click)="handleSearch()">Search</button>
  <button (click)="navigateList()">Recipe List</button>

  <div *ngFor="let recipe of recipes">
    <a routerLink="detail/{{ recipe.label }}" class="recipeTitle">
      {{ recipe.label }}>
    </a>
    <img src="{{ recipe.image }}" />
    <div routerLink="/detail/{{ recipe.image }}" class="recipeImage"></div>
  </div>
</div>
